loguru~=0.7.3
mkdocs
pip
pytest~=8.4.2
python-dotenv~=1.1.1
ruff
tqdm~=4.67.1
typer~=0.20.0

pandas~=2.3.0
matplotlib~=3.10.3
numpy~=2.1.2
ipython~=9.4.0
seaborn~=0.13.2
statsmodels~=0.14.5
scikit-learn>=1.7.1
joblib>=1.5.1
scipy~=1.13.0
line_profiler>=5.0.0
mlflow>=3.8.1
mlflow-skinny>=3.8.1
shap>=0.50.0
optuna>=4.6.0
lightgbm>=4.6.0